---
const services = [
    {
        title: "INTERNAL MEDECINE",
        items: [
            'General Internal Medicine',
            'Gastroentrerology',
            'Pulmonology',
            'Nephrology',
            'oncology',
        ]
    },
    {
        title: "surgery",
        items: [
            'General Surgery',
            'Urology',
            'Colorectal Surgery',
            'Neurosurgery',
            'Orthopedic Surgery',
            'Ear,Nose, and Throat Surgery',
        ]
    },
    {
        title: "OBSTETRICS - GYNECOLOGY",
        items: [
            'General Obstetrics - Gynecology',
            ''
        ]
    },
    {
        title: "PEDIATRICS",
    },
    {
        title: "FAMILY MEDICINE",
    }

]
---

<div>


</div>