---
import { Icon } from "astro-icon/components";


---

<div>
  <div class="flex flex-col items-center justify-center h-screen text-center">
    <Icon
      class={"text-blue-600"}
      name={"mdi:construction"}
      width={400}
      height={400}
    />
    <span class="font-bold text-5xl text-blue-500">Consultations page is under construction</span>
  </div>
</div>
