---

---

<div id="amenities">
  <div class="flex flex-col gap-5">
    <span class="font-bold text-3xl">Amenities</span>
    <div class="flex flex-row gap-10 pl-5">
      <div>
        <span class="font-bold text-lg">Hospital Amenities</span>
        <ul class="pl-5 list-disc">
          <li>Internet access</li>
          <li>Multiple areas for family visiting</li>
          <li>Telephones with amplifiers in each room</li>
          <li>Flat screen TVs</li>
          <li>
            Accommodations for overnight stays for family member when support is
            needed
          </li>
          <li>Daily and weekly newspapers, magazines and books.</li>
          <li>Beauty/barbershop located in Long Term Care</li>
          <li></li>
          <li>Pastoral visits upon request</li>
        </ul>
      </div>
      <div>
        <span class="font-bold text-lg">Food & Drink</span>
        <ul class="pl-5 list-disc">
          <li>Guest meals served in the patient's room</li>
          <li>Café open to guests during regularly scheduled hours</li>
          <li>Coffee, tea, ice and water are available</li>
          <li>Coffee, tea, ice and water are available</li>
        </ul>
      </div>
    </div>
  </div>
</div>
