---

---

<div id="amenities">
  <div class="flex flex-col gap-5">
    <span class="font-bold text-3xl">Amenities</span>
    <div>
      <p class="text-md pl-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Libero
        doloremque quidem modi et? Illo reiciendis doloribus minima voluptatem
        mollitia laudantium expedita facere. Distinctio fugiat, molestiae
        tenetur eos ipsa nulla sint.
      </p>
    </div>
    <div>
      <p class="text-md pl-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Laboriosam
        culpa voluptatum sit mollitia, non accusamus debitis, facere libero
        deleniti vero inventore odit doloremque expedita nostrum totam suscipit
        laborum odio tempora.
      </p>
    </div>
  </div>
</div>
