---

---

<div id="visiting-info">
  <div class="flex flex-col gap-5">
    <span class="font-bold text-3xl">Visiting Information</span>
    <div>
      <p class="text-md pl-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Soluta sint
        ipsa eligendi saepe deserunt nisi quis corrupti ullam, rem explicabo qui
        possimus molestiae quos quae obcaecati. Deserunt esse repellendus
        consequuntur.
      </p>
    </div>
    <div>
      <p class="text-md pl-5">
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Esse cupiditate
        tempora amet eum modi fugit possimus explicabo quia repellendus qui ad
        numquam sunt libero, magnam error illum sapiente dolor iure.
      </p>
    </div>
  </div>
</div>
