---

---

<div id="visiting-info">
  <div class="flex flex-col gap-5">
    <span class="font-bold text-3xl">Visiting Information</span>
    <div class="flex flex-col gap-5 pl-5">
      <div>
        <span class="text-lg font-bold">Private Division:</span>
        <p class="pl-5">10:00 am to 8:00 pm</p>
      </div>
      <div>
        <span class="text-lg font-bold">Clinical Division: </span>
        <p class="pl-5">4:00 pm to 8:00 pm</p>
      </div>
      <div>
        <span class="text-lg font-bold">Intensive Care Units: </span>
        <p class="pl-5">11:00 am to 1:00 pm and 6:00 pm to 8:00 pm</p>
      </div>
    </div>
  </div>
</div>
