---

---

<div>
  <div class="grid grid-cols-2 gap-5 m-20">
    <div class="flex justify-center">
      <img src="/public/images/sdn-logo.jpg" alt="13.jpg" class="w-100" />
    </div>
    <div class="flex items-center">
      <div>
        <p style="font-size: 60px; text-align: center;">
            About Us
        </p>

        <p style="font-size: 25px; text-align: center;">
            Established in 1923, Tarlac Provincial Hospital was the first provincial
            hospital built under the Republic Act. No. 2114 as amended by Act. No. 3168.
            It is situated in a 9-hectare concrete fence compound. It boasts a 3-storey
            main hospital building, a power plant with a generator, a provincial
            warehouse, an OPD building, an MCH Center, a maintenance shop and laundry
            room, and a basketball and volleyball court.
        </p>
      </div>
    </div>
  </div>
</div>

<div class="max-w-4xl mx-auto px-4 py-12 text-center">
  <h1 class="text-3xl font-bold text-gray-800 mb-10">About Us</h1>
  <p class="text-lg text-dark-600 mb-16">
    Established in 1923, Tarlac Provincial Hospital was the first provincial
    hospital built under the Republic Act. No. 2114 as amended by Act. No. 3168.
    It is situated in a 9-hectare concrete fence compound. It boasts a 3-storey
    main hospital building, a power plant with a generator, a provincial
    warehouse, an OPD building, an MCH Center, a maintenance shop and laundry
    room, and a basketball and volleyball court.
  </p>
  <div class="flex flex-row gap-15 justify-between p-1">
    <div>
      <p class="text-lg text-dark-600 font-semibold mb-6">
        ANO ANG SDN SILIP SAAKIT PROGRAM?
      </p>
      <p class="text-lg text-gray-600 mb-6">
        SDN AY ISANG PROGRAMA NG PAMAHALAANG PANLALAWIGAN NG TARLAC NA
        NAGLALAYONG IHATID ANG DEKALIDAD NA SERBISYONG PANGKALUSUGAN PARA SA
        LAHAT NG MGA TARLAKENYO
      </p>
    </div>
    <div>
      <p class="text-lg text-BLACK-600 font-semibold mb-6">
        SINO ANG BUMUBUO SA SDN SILIP SAKIT PROGRAM?
      </p>
      <p class="text-lg text-gray-600 mb-6">
        SDN AY ISANG PROGRAMA NG PAMAHALAANG PANLALAWIGAN NG TARLAC NA
        NAGLALAYONG IHATID ANG DEKALIDAD NA SERBISYONG PANGKALUSUGAN PARA SA
        LAHAT NG MGA TARLAKENYO
      </p>
    </div>
  </div>

