---
import { Image } from "astro:assets";
import TphLogo from '/public/images/tph-logo.png'


---

<div>
  <div
    class="flex flex-row items-center justify-center px-24 py-5 bg-green-700"
  >
    <div>
      <span class="font-bold text-white"
        >EMERGENCIES? call 8988-1000 / 8988-7000 or Chat with us (Logos)</span
      >
    </div>
  </div>
  <div class="flex flex-row items-between justify-center gap-62 px-32 py-5">
    <div>
        <Image src={TphLogo} alt={"tph-logo"} width={100} height={100}/>
    </div>
    <div class="flex flex-col items-center justify-center">
        <div class="flex flex-row gap-10">
            <a class="font-bold text-md" href="#">About us</a>
            <a class="font-bold text-md" href="#">News</a>
            <a class="font-bold text-md" href="#">Careers</a>
            <a class="font-bold text-md" href="#">Contact Us</a>
            <a class="font-bold text-md" href="#">Search</a>
        </div>
        <div class="flex flex-row gap-10 items-center justify-center">
            <a class="font-bold text-md" href="#">OUR SERVICES</a>
            <a class="font-bold text-md" href="#">FIND A DOCTOR</a>
            <a class="font-bold text-md" href="#">LOGIN</a>
            <a class="font-bold text-md bg-green-600 p-2 rounded-xl hover:bg-green-700 text-white" href="#">MAKE A BOOKING</a>
        </div>
    </div>
  </div>
</div>
