---
import astroLogo from "../assets/astro.svg";
import background from "../assets/background.svg";
---

<div id="container">
  <div class="d-lg-block d-none our-network-single">
    <div class="row no-gutters theme-bg-grey">
      <div class="col-6">
        <img
          src="https://www.themedicalcity.com/storage/app/uploads/public/5eb/521/1de/5eb5211deeb5f395116789.jpg"
          alt="The Medical City Clark"
          class="card__img"
          style="height: 100%; width: 100%; display: block;"
        />
      </div>
      <div class="col-6 pt-5 pl-5">
        <h1>The Medical City Clark</h1>
        <p>
          100 Gatwick Gateway, Clark Global City, Clark Freeport Zone, Pampanga,
          Philippines 2023
        </p>
        <button
          type="button"
          name="button"
          data-toggle="modal"
          data-target="#request-appointment"
          class="btn btn-outline-primary text-uppercase d-flex justify-content-between"
          ><div>
            <i class="fas fa-calendar-day mr-2"></i>REQUEST APPOINTMENT
          </div>
          <i class="fas fa-chevron-right mt-1"></i></button
        >
        <button
          type="button"
          name="button"
          class="btn btn-outline-primary text-uppercase d-flex justify-content-between"
          ><div>
            <i class="fas fa-stethoscope mr-2"></i>
            FIND DOCTORS
          </div>
          <i class="fas fa-chevron-right mt-1"></i></button
        >
        <button
          type="button"
          name="button"
          data-toggle="modal"
          data-target="#get-direction"
          class="btn btn-outline-primary text-uppercase d-flex justify-content-between"
          ><div>
            <i class="fas fa-location-arrow mr-2"></i>
            GET DIRECTIONS
          </div>
          <i class="fas fa-chevron-right mt-1"></i></button>
      </div>
    </div>
    <div class="container mt-4 mb-5">
      <div class="row">
        <div class="col-lg-3 col-12">
          <ul class="list-unstyled our-network-single-menu">
            <a href="#contact-info"><li class="">Contact Info</li></a>
            <a href="#overview"><li class="">Overview</li></a>
            <a href="#visiting-information"
              ><li class="active">Visiting Information</li></a
            >
            <a href="#departments-services"
              ><li class="">Departments &amp; Services</li></a
            >
            <a href="#amenities"><li class="">Amenities</li></a>
            <a href="#related-news"><li class="">Related News</li></a>
          </ul>
        </div>
        <div class="col-lg-9 col-12">
          <div id="contact-info">
            <h2 class="text-blue-dark my-4">Contact Info</h2>
            <div class="row">
              <div class="col-6">
                <p class="text-uppercase mb-1"><strong>Address:</strong></p>
                <p>
                  100 Gatwick Gateway, Clark Global City, Clark Freeport Zone,
                  Pampanga, Philippines 2023
                </p>
                <p class="text-uppercase mb-1"><strong>Email:</strong></p>
                <p class="font-14">
                  <a href="mailto:tmcclark@themedicalcity.com"
                    >tmcclark@themedicalcity.com</a>
                </p>
              </div>
              <div class="col-6">
                <p class="text-uppercase mb-1"><strong>Phone:</strong></p>
                <p>
                  Hotline: 045-598-4000<br />
                  Customer Service: 0919-069-5536 (8am to 5pm only)
                </p>
              </div>
            </div>
            <iframe
              src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15402.37862881486!2d120.56636798936657!3d15.180589573626394!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x786b058779689654!2sThe%20Medical%20City%20Clark!5e0!3m2!1sen!2sph!4v1589276326181!5m2!1sen!2sph"
              width="600"
              height="450"
              frameborder="0"
              allowfullscreen="allowfullscreen"
              aria-hidden="false"
              tabindex="0"
              style="border: 0px;"></iframe>
          </div>
          <hr class="my-5" />
          <div id="overview">
            <h2 class="text-blue-dark my-4">Overview</h2>
            <p dir="ltr">
              The Medical City Clark, a 103-bed health care facility, formally
              opened in January 2015 to serve patients in Central Luzon,
              Philippines.
            </p>
            <p dir="ltr">
              Located at the Clark Freeport Zone in Pampanga, TMC Clark is the
              maiden infrastructure established within Sabah Al-Ahmad Global
              Gateway Logistics City (GGLC), a 177-hectare master-planned
              logistics and business center inside the Clark aviation complex.
            </p>
            <p dir="ltr">
              Situated next to the Clark International Airport, TMC Clark
              provides an excellent platform for building an international
              customer base. Today, it is Clark International Airport's official
              medical facility and trauma center. It houses a burn unit, the
              region’s first and only specialized surgical facility designed to
              provide comprehensive and multidisciplinary care for victims of
              burn injuries.
            </p>
            <p dir="ltr">
              The world-class facility is the staging area for the delivery of
              cutting-edge healthcare services, with flagship programs such as
              Cardiovascular, Orthopedics, Neurosurgery, Bariatric and Minimally
              Invasive Surgery, Cancer Care, and Wellness and Aesthetics.
            </p>
            <p dir="ltr">
              It also offers a full range of special medical services to ensure
              accurate diagnoses and treatment for your healthcare needs. These
              special services include Hemodialysis, Diabetes, Ophthalmology,
              Breast Care, and Voice and swallowing Care, in addition to
              comprehensive diagnostic services using some of the latest
              technological equipment.
            </p>
            <p dir="ltr">
              TMC Clark has a Hybrid Catheterization Laboratory (Cath Lab),
              currently the first and only facility of its kind in North and
              Central Luzon. The Hybrid Cath Lab is a state-of-the-art suite
              that brings together the traditional diagnostic functions of all
              catheterization laboratories and the surgical functions of an
              operating room into one flexible space.
            </p>
            <p dir="ltr">
              It also has a Burn Unit manned by a multidisciplinary team
              composed of experts in plastic and reconstructive surgery,
              emergency medicine, physical and occupation therapy, nursing,
              psychiatry, and nutrition.
            </p>
            <p dir="ltr">
              What sets TMC Clark apart from other healthcare providers in the
              area is the very essence of its mantra, “Where Patients are
              Partners.” Patient partnership means acknowledging the patient’s
              fundamental accountability for his own health and supporting this
              with a system, tools, and venues for education, open
              communication, and informed choice. This fresh perspective on the
              patient's role in health care represents a radical departure from
              the traditional idea of the patient as a passive recipient of
              medical services.
            </p>
            <p dir="ltr">
              At The Medical City Clark, patients are viewed not as a problem to
              be solved or a charge to be cared for but as a partner in his own
              health!
            </p>
          </div>
          <hr class="my-5" />
          <div id="visiting-information">
            <h2 class="text-blue-dark my-4">Visiting Information</h2>
            <div class="row"></div>
          </div>
          <hr class="my-5" />
          <div id="departments-services">
            <h2 class="text-blue-dark my-4">Departments &amp; Services</h2>
            <h4>Departments</h4>
            <div class="row"></div>
          </div>
          <hr class="my-5" />
          <div id="amenities">
            <h2 class="text-blue-dark my-4">Amenities</h2>
          </div>
          <hr class="my-5" />
          <div id="related-news">
            <h2 class="text-blue-dark my-4">Related News</h2>
            <div class="row">
              <div class="col-lg-4 col-12">
                <div class="pt-4">
                  <div class="card card--feeds">
                    <div>
                      <img
                        src="https://www.themedicalcity.com/storage/app/uploads/public/5ed/998/4a9/5ed9984a912c2354784365.jpg"
                        alt="illustration of a family wearing masks"
                        class="img-fluid w-100"
                        style="height: 208px;"
                      />
                    </div>
                    <div class="py-4 pb-5">
                      <p class="card__category"></p>
                      <h4 class="card__title">
                        Keeping our Children Safe from COVID-19 during GCQ
                      </h4>
                      <span class="card__text d-block my-2 overflow-hidden"
                        >As Metro Manila and some parts of the country shifted
                        to general community quarantine on Monday, parents
                        returning to their workplaces are understandably
                        concerned about the risk of contracting the virus and
                        transferring that risk to their children and other
                        family members waiting for them at home.</span
                      >
                      <a
                        href="https://www.themedicalcity.com/news/keeping-our-children-safe-covid-19-during-gcq"
                        class="card__read-more">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-12">
                <div class="pt-4">
                  <div class="card card--feeds">
                    <div>
                      <img
                        src="https://www.themedicalcity.com/storage/app/uploads/public/5f2/8bb/170/5f28bb17099e5216053624.jpg"
                        alt="senior citizen surge protection package"
                        class="img-fluid w-100"
                        style="height: 208px;"
                      />
                    </div>
                    <div class="py-4 pb-5">
                      <p class="card__category"><span>Health </span></p>
                      <h4 class="card__title">
                        Senior Citizen Surge Protection Package
                      </h4>
                      <span class="card__text d-block my-2 overflow-hidden"
                        >The Senior Citizen Surge Protection Package aims to
                        address the health concern of our elderly - the need for
                        health monitoring and a supplemental boost in their
                        immune system.</span
                      >
                      <a
                        href="https://www.themedicalcity.com/news/senior-citizen-surge-protection-package"
                        class="card__read-more">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
              <div class="col-lg-4 col-12">
                <div class="pt-4">
                  <div class="card card--feeds">
                    <div>
                      <img
                        src="https://www.themedicalcity.com/storage/app/uploads/public/609/367/b2a/609367b2adac3429305920.png"
                        alt="Be in and out in 90 minutes"
                        class="img-fluid w-100"
                        style="height: 208px;"
                      />
                    </div>
                    <div class="py-4 pb-5">
                      <p class="card__category"><span>Health </span></p>
                      <h4 class="card__title">Be in and out in 90 minutes</h4>
                      <span class="card__text d-block my-2 overflow-hidden"
                        >At the Primary Care Clinic, a doctor is always IN.</span
                      >
                      <a
                        href="https://www.themedicalcity.com/news/primarycareclinic"
                        class="card__read-more">Read more</a>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="featured-news__pagination">
              <ul class="pagination">
                <li class="disabled"><span>«</span></li>
                <li class="active"><span>1</span></li>
                <li>
                  <a
                    href="http://www.themedicalcity.com/our-network/medical-city-clark?page=2"
                    >2</a>
                </li>
                <li>
                  <a
                    href="http://www.themedicalcity.com/our-network/medical-city-clark?page=3"
                    >3</a>
                </li>
                <li>
                  <a
                    href="http://www.themedicalcity.com/our-network/medical-city-clark?page=4"
                    >4</a>
                </li>
                <li>
                  <a
                    href="http://www.themedicalcity.com/our-network/medical-city-clark?page=5"
                    >5</a>
                </li>
                <li>
                  <a
                    href="http://www.themedicalcity.com/our-network/medical-city-clark?page=6"
                    >6</a>
                </li>
                <li>
                  <a
                    href="http://www.themedicalcity.com/our-network/medical-city-clark?page=7"
                    >7</a>
                </li>
                <li>
                  <a
                    href="http://www.themedicalcity.com/our-network/medical-city-clark?page=8"
                    >8</a>
                </li>
                <li class="disabled"><span>...</span></li>
                <li>
                  <a
                    href="http://www.themedicalcity.com/our-network/medical-city-clark?page=32"
                    >32</a>
                </li>
                <li>
                  <a
                    href="http://www.themedicalcity.com/our-network/medical-city-clark?page=33"
                    >33</a>
                </li>
                <li>
                  <a
                    href="http://www.themedicalcity.com/our-network/medical-city-clark?page=2"
                    rel="next">»</a>
                </li>
              </ul>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
