---
import "animate.css";
// navigations
import ContactInfo from "../components/navigations/ContactInfo.astro";
import Overview from "../components/navigations/Overview.astro";
import VisitingInfo from "../components/navigations/VisitingInfo.astro";
import Services from "../components/navigations/Services.astro";
import Amenities from "../components/navigations/Amenities.astro";
import { Image } from "astro:assets";
import TphBuilding from "/public/images/13.jpg";
---

<div id="container">
  <div
    class="grid lg:grid-cols-2 sm:grid-rows-1 md:grid-rows-1 gap-5 px-5 lg:px-24 pt-10"
  >
    <Image
      src={TphBuilding}
      alt={"tph image"}
      width={1000}
      height={1000}
      class="rounded-lg shadow-xl animate__animated animate__fadeInLeft"
    />
    <div
      class="flex flex-col justify-center items-center animate__animated animate__fadeInLeft"
    >
      <p style="font-size: 50px; text-align: center;">
        Tarlac Provincial Hospital
      </p>
      <p style="font-size: 15px; text-align: center;">
        Established in 1923, Tarlac Provincial Hospital was the first provincial
        hospital built under the Republic Act. No. 2114 as amended by Act. No.
        3168. It is situated in a 9-hectare concrete fence compound. It boasts a
        3-storey main hospital building, a power plant with a generator, a
        provincial warehouse, an OPD building, an MCH Center, a maintenance shop
        and laundry room, and a basketball and volleyball court.
      </p>
    </div>
  </div>
</div>

<div
  class="hidden md:hidden lg:flex space-x-6 justify-center p-12 animate__animated animate__fadeIn"
>
  <a href="#contact-info" class="text-dark hover:text-green-600 text-3xl">
    Contact Info
  </a>
  <span class="text-dark text-3xl">|</span>
  <a href="#overview" class="text-dark hover:text-green-600 text-3xl">
    Overview
  </a>
  <span class="text-dark text-3xl">|</span>
  <a href="#visiting-info" class="text-dark hover:text-green-600 text-3xl">
    Visiting Information
  </a>
  <span class="text-dark text-3xl">|</span>
  <a href="#services" class="text-dark hover:text-green-600 text-3xl">
    Services
  </a>
  <span class="text-dark text-3xl">|</span>
  <a href="#amenities" class="text-dark hover:text-green-600 text-3xl">
    Amenities
  </a>
</div>

<div class="flex flex-col w-full gap-10 px-5 lg:px-24 pb-12 pt-12 animate__animated animate__fadeIn">
    <ContactInfo />
  <hr />
    <Overview />
  <hr />
    <VisitingInfo />
  <hr />
    <Services />
  <hr />
    <Amenities />
</div>
