---
import GlobalStyles from "../components/GlobalStyles.astro";
import "../styles/global.css";

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width" />
    <link rel="icon" type="image/svg+xml" href="/images/sdn-logo.png" />
    <meta name="generator" content={Astro.generator} />
    <title>SDN { title && `| ${title}`}</title>
    <GlobalStyles/>
  </head>
  <body class="dark:bg-white">
    <slot />
  </body>
</html>
